{% assign career-profile = site.data.data.career-profile %}
{% if career-profile %}
<section class="section summary-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-user fa-stack-1x fa-inverse"></i>
    </span>
    About Me
  </h2>

  <div class="summary">
    I earned my Master of Science degree in Software Engineering under the supervision of Dr. Mohammad Javad Shayegan in September 2023 at the University of Science and Culture in Tehran, Iran. My focus lies in Artificial Intelligence, and I have a strong interest in conducting research in various areas using Machine Learning techniques, particularly in the realm of Deep Learning, Computer Vision, and Human-Computer Interaction/Human-Robot Interaction (HCI/HRI), Reinforcement Learning, Generative AI (GAN). I am dedicated to conducting innovative research in these fields continuously. Beginning in fall 2023, I am actively seeking Ph.D. opportunities in Deep Learning for fall 2024 to further my academic pursuits in becoming a proficient AI researcher. I welcome any feedback from you, as it will contribute to my success. Please feel free to reach out to me at any time.
  </div><!--//summary-->
    
</section><!--//section-->
{% endif %}
